<!DOCTYPE html>
<html>
    <head>
        <title>Image Fetcher</title>
        <link rel="stylesheet" href="/static/index.css"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-104674265-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div id="container">
            <div>
                <p>
                    Enter a url and hit enter or the "Fetch!" button. Allow up to 10 seconds for images to load before trying again.
                </p>
            </div>
            <div>
                <label for="url">Enter a URL</label>
                <input type="text" id="url" data-bind="value: url"/>
                <input type="button" id="fetch-btn" data-bind="click: fetchImages" value="Fetch!"/>
            </div>
            <div>
                <!-- ko foreach: imgUrls() -->
                <div class="fetched-img">
                    <div>
                        <img data-bind="attr: { src: $data }"/>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <script src="/static/jquery-3.2.1.min.js"></script>
        <script src="/static/knockout.js"></script>
        <script src="/static/index.js"></script>
    </body>
</html>
