<!DOCTYPE html>
<html>
    <head>
        <title>Image Fetcher</title>
        <link rel="stylesheet" href="/static/index.css"/>
    </head>
    <body>
        <div id="container">
            <div>
                <p>
                    Enter a url and hit enter or the "Fetch!" button. Allow up to 10 seconds for images to load before trying again.
                </p>
            </div>
            <div>
                <label for="url">Enter a URL</label>
                <input type="text" id="url" data-bind="value: url"/>
                <input type="button" id="fetch-btn" data-bind="click: fetchImages" value="Fetch!"/>
            </div>
            <div>
                <!-- ko foreach: imgUrls() -->
                <div class="fetched-img">
                    <div>
                        <img data-bind="attr: { src: $data }"/>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <script src="/static/jquery-3.2.1.min.js"></script>
        <script src="/static/knockout.js"></script>
        <script src="/static/index.js"></script>
    </body>
</html>
